<div class="alert alert-warning" *ngIf="message">
  <strong>{{ message }}</strong>
</div>
<div class="card mb-3">
  <div class="card-header">
      Edit Category
  </div>
</div>
  <form role="form" (ngSubmit)="UpdateCategory(CategoryId.value, oldName.value, CategoryName.value)">
    <br>
    <div class="row">
        <div class="col-lg-3">
          <fieldset class="form-group">
              <label>Name for the category</label>
              <input type="hidden" #CategoryId ngModel name="CategoryId" [(ngModel)]="categoryToEdit.id">
              <input type="hidden" #oldName ngModel name="oldName" [(ngModel)]="categoryToEdit.name">
              <input class="form-control" #CategoryName ngModel name="CategoryName" [(ngModel)]="categoryToEdit.name">
          </fieldset>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>