<div style="min-height: 800px">
    <ngx-ui-loader fgsSize = "0" bgsSize = "0" pbThickness = "4" pbColor = "#4CAF50" [loaderId]="'loader-01'" style="min-height: 100%"></ngx-ui-loader>
    <div class="alert alert-success" *ngIf="message">
        <strong>{{ message }}</strong>
      </div>
      <div class="card mb-3">
        <div class="card-header">
            Stock
            &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-secondary" (click)="Add()">
                      Add
                    </button>
            <button type="button" class="btn btn-outline-success" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="FilterCollapse" style="float: right;">
                      Filters
                  </button>
                </div>
                <div id="FilterCollapse" [ngbCollapse]="isCollapsed">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="form-group col-sm-2">
                                <label><b>Categories</b></label>
                                <div *ngFor="let category of categories">
                                  <div class="radio">
                                      <label>
                                          <input type="radio" id="C{{category.name}}" name="Category" [(ngModel)] ="optionsCategory" value="{{category.id}}"> {{category.name}}
                                      </label>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                              <label><b>Sub-Categories</b></label>
                              <div *ngFor="let subcategory of subCategories">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="S{{subcategory.name}}" name="SubCategory" [(ngModel)] ="optionsSubCategory" value="{{subcategory.id}}"> {{subcategory.name}}
                                    </label>
                                </div>
                              </div>
                          </div>
                          <div class="form-group col-sm-2">
                                <label><b>Product Name</b></label>
                                <input class="form-control" #ProductName ngModel name="ProductName" placeholder="Enter name">
                          </div>
                          <div class="form-group col-sm-2">
                            <label><b>Stores</b></label>
                            <div *ngFor="let store of Stores">
                              <div class="radio">
                                  <label>
                                      <input type="radio" id="S{{store.name}}" name="Store" [(ngModel)] ="optionsStores" value="{{store.id}}"> {{store.name}}
                                  </label>
                              </div>
                            </div>
                        </div>
                              <div class="col-sm-2 text-xs-center">
                                    <button type="button" class="btn btn-outline-info" (click)="ApplyFilter(ProductName.value)" style="float:right">
                                            Apply
                                          </button>
                                  </div>
                    </div>
                          
                      </div>
                  </div>
                </div>
        <div class="card-body table-responsive">
            <table class="table" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Store Name</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>M.R.P.</th>
                    <th>Product Image</th>
                    <th *ngIf="canView"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let stock of stocks">
                          <th scope="row">{{ stock.id }}</th>
                          <td>{{ stock.name }}</td>
                          <td>{{stock.storeName}}</td>
                          <td>{{ stock.stock_quantity }}</td>
                          <td>{{ stock.discount }}%</td>
                          <td>{{ stock.mrp }}</td>
                          <td><img src= {{stock.image_path}} width="50"></td>
                          <td *ngIf="canView"><button type="button" class="btn btn-sm btn-info" (click)="moveStock(stock.id)">Move stock</button></td>
                          <td><button type="button" class="btn btn-sm btn-success" (click)="edit(stock.id)">Edit</button></td>
                          <td><button type="button" class="btn btn-sm btn-primary" (click)="addStock(stock.id)">Add Stock</button></td>
                          <td><button type="button" class="btn btn-sm btn-danger" (click)="delete(stock.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>