<div [@routerTransition] style="min-height: 750px">
    <ngx-ui-loader fgsSize = "0" bgsSize = "0" pbThickness = "4" pbColor = "#4CAF50" [loaderId]="'loader-01'" style="min-height: 100%"></ngx-ui-loader>
    <div class="{{messageColor}}" *ngIf="message">
      <strong>{{ message }}</strong>
    </div>
    <div class="card mb-3">
      <div class="card-header">
          Sub Categories
          &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-secondary" (click)="Add()">
            Add
          </button>
      </div>
      <div class="card-body table-responsive">
          <table class="table" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
              <thead>
              <tr>
                  <th>#</th>
                  <th> Name </th>
                  <th>Category</th>
                  <th>Product count</th>
                  <th></th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor ="let subCategory of subCategories">
                    <th scope="row">{{ subCategory.id }}</th>
                    <td>{{ subCategory.name }}</td>
                    <td>{{ subCategory.category_name }}</td>
                    <td>{{ subCategory.number_of_products}}</td>
                    <td><button type="button" class="btn btn-sm btn-success" (click)="edit(subCategory)">Edit</button></td>
                    <td><button type="button" class="btn btn-sm btn-danger" (click)="delete(subCategory.id)">Delete</button></td>
              </tr>
              </tbody>
          </table>
      </div>
    </div>
</div>